In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

df_dp = pd.read_csv(os.path.realpath('data/dp_raw_old.csv'))
df_se = pd.read_csv(os.path.realpath('data/se_raw_old.csv'))

print(df_dp.columns, "\n\n")

print(df_se.columns)

Index(['user_id', 'question_id', 'question_title', 'question_text',
       'answer_id', 'answer_text', 'answer_score', 'user_tag_count',
       'user_tag_score', 'answer_score_mean', 'sum_class',
       'answer_score_median', 'mean_class', 'median_class'],
      dtype='object')


Index(['user_id', 'question_id', 'question_title', 'question_text',
       'answer_id', 'answer_text', 'answer_score', 'user_answer_count',
       'user_answer_score', 'answer_score_mean', 'sum_class',
       'answer_score_median', 'median_class', 'mean_class'],
      dtype='object')

## RENAME AND REORDER COLUMNS

In [3]:
df_dp.rename(columns={'user_tag_score':'user_sum_score',
                      'user_tag_count':'user_answer_count',
                      'answer_score_mean':'user_mean_score',
                      'answer_score_median':'user_median_score'}, inplace=True)

df_dp = df_dp[['user_id', 'question_id', 'question_title', 'question_text',
       'answer_id', 'answer_text', 'answer_score', 'user_answer_count',
       'user_sum_score', 'user_mean_score', 'user_median_score',
       'sum_class', 'mean_class', 'median_class']]

print(df_dp.columns, "\n\n")


df_se.rename(columns={'user_answer_score':'user_sum_score',
                      'answer_score_mean':'user_mean_score',
                      'answer_score_median':'user_median_score'}, inplace=True)

df_se = df_se[['user_id', 'question_id', 'question_title', 'question_text',
       'answer_id', 'answer_text', 'answer_score', 'user_answer_count',
       'user_sum_score', 'user_mean_score', 'user_median_score',
       'sum_class', 'mean_class', 'median_class']]

print(df_se.columns)

Index(['user_id', 'question_id', 'question_title', 'question_text',
       'answer_id', 'answer_text', 'answer_score', 'user_answer_count',
       'user_sum_score', 'user_mean_score', 'user_median_score', 'sum_class',
       'mean_class', 'median_class'],
      dtype='object')


Index(['user_id', 'question_id', 'question_title', 'question_text',
       'answer_id', 'answer_text', 'answer_score', 'user_answer_count',
       'user_sum_score', 'user_mean_score', 'user_median_score', 'sum_class',
       'mean_class', 'median_class'],
      dtype='object')

In [27]:
use_dp = False

if use_dp:
    df = df_dp
else:
    df = df_se

df_f = df[(df['user_answer_count'] >= 5)].copy()
df_e = df[(df['user_answer_count'] < 5)].copy()

df_filtered = df_f
df_eliminated = df_e

df_users =  df.groupby('user_id')['user_id'].max()
df_users_filtered = df_filtered.groupby('user_id')['user_id'].max()

scorings = ['user_median_score', 'user_mean_score', 'user_sum_score']
labelings = ['median_class', 'mean_class', 'sum_class']

user_scores_dict = {}




print('------------- {} (user_answer_count >= 0) -----------\n'.format('DP' if use_dp else 'SE'))

print("num of answers: {}".format(len(df))) 
print("num of users:   {}\n".format(len(df_users)))    

for scoring in scorings:

    print('********** {} *********'.format(scoring))

    print("num of positives: {}".format(len(df[df[scoring] > 0])))
    print("num of negatives: {}".format(len(df[df[scoring] < 0])))
    print("num of zeros: {}".format(len(df[df[scoring] == 0])))
    print("min score: {}".format(min(df[scoring])))
    print("max score: {}\n".format(max(df[scoring])))

    
    
    

print('------------- {} (user_answer_count >= 5) -----------\n'.format('DP' if use_dp else 'SE'))

print("num of answers: {} ({:.1f}%)".format(len(df_filtered), len(df_filtered)*100/len(df)))
print("num of users:   {} ({:.1f}%)\n".format(len(df_users_filtered), len(df_users_filtered)*100/len(df_users)))

for scoring in scorings:

    print('********** {} *********'.format(scoring))

    print("num of positives: {}".format(len(df_filtered[df_filtered[scoring] > 0])))
    print("num of negatives: {}".format(len(df_filtered[df_filtered[scoring] < 0])))
    print("num of zeros: {}".format(len(df_filtered[df_filtered[scoring] == 0])))
    print("min score: {}".format(min(df_filtered[scoring])))
    print("max score: {}\n".format(max(df_filtered[scoring])))

------------- SE (user_answer_count >= 0) -----------

num of answers: 152745
num of users:   23413

********** user_median_score *********
num of positives: 144576
num of negatives: 1648
num of zeros: 6521
min score: -17.0
max score: 2659.0

********** user_mean_score *********
num of positives: 146851
num of negatives: 1938
num of zeros: 3956
min score: -17.0
max score: 2659.0

********** user_sum_score *********
num of positives: 146851
num of negatives: 1938
num of zeros: 3956
min score: -17
max score: 18144

------------- SE (user_answer_count >= 5) -----------

num of answers: 123902 (81.1%)
num of users:   3841 (16.4%)

********** user_median_score *********
num of positives: 122004
num of negatives: 25
num of zeros: 1873
min score: -1.0
max score: 40.0

********** user_mean_score *********
num of positives: 123617
num of negatives: 191
num of zeros: 94
min score: -1.38
max score: 178.8

********** user_sum_score *********
num of positives: 123617
num of negatives: 191
num of zeros: 94
min score: -11
max score: 18144

In [12]:
df_filtered[df_filtered['mean_class'] == -1]

,user_id,question_id,question_title,question_text,answer_id,answer_text,answer_score,user_answer_count,user_sum_score,user_mean_score,user_median_score,sum_class,mean_class,median_class
48,13346,37909,"License question, what happens to a piece of s...",I am using a piece of free source code in one ...,37919,As Oded mentioned it becomes the property of t...,2,6,11,1.83,1.0,-1,-1,-1
49,13346,38188,How to deal with non-licensed software,I work for a very large fortune 500 company wh...,38193,In Fortune 500 companies there is often a Mast...,6,6,11,1.83,1.0,-1,-1,-1
50,13346,38566,The importance of javascript and the best way ...,"I'm a new graduate, but I have been doing web ...",39051,Just for fun check this link for an explanatio...,0,6,11,1.83,1.0,-1,-1,-1
51,13346,42924,How to price code reviews to encourage good be...,I work for a company that has a hosted .net in...,42944,GrandmasterB has the right idea- if you start ...,1,6,11,1.83,1.0,-1,-1,-1
52,13346,7747,Do you think that exposure to BASIC can mutila...,\nIt is practically impossible to teach good p...,38481,for those of us who were loading assembly code...,1,6,11,1.83,1.0,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152653,8361,25276,Why is cleverness considered harmful in progra...,I've noticed a lot of questions lately relatin...,25360,If clever code + the amount of comments requir...,3,5,17,3.40,4.0,-1,-1,-1
152654,8361,154419,How do employers measure &quot;strong or solid...,Yesterday I had received a great job opportuni...,154463,Of course all these answers have been giving t...,0,5,17,3.40,4.0,-1,-1,-1
152655,8361,87200,How do I get away from PHP in the web industry?,I'm just looking for some tips on getting away...,87211,I understand that the great bulk of the work o...,5,5,17,3.40,4.0,-1,-1,-1
152656,8361,87519,Remote Working &amp; Relocation,"Sorry if this question is a duplicate, I did s...",87524,I'm lucky enough currently to be remote workin...,4,5,17,3.40,4.0,-1,-1,-1
152657,8361,103067,Avoid ELSE when setting a variable?,Which of these styles do people prefer?\n\nVS\...,103068,The first style is 3 lines compared to 5 lines...,5,5,17,3.40,4.0,-1,-1,-1

In [71]:
def generateLogbins(minvalue,maxvalue,factor,uselinear=True):
    '''Generates a binning vector containing bin limits for log-binning. Inputs:
    minvalue, maxvalue = min and max values of data (e.g. degrees) to be binned,
    factor = multiplicative factor for increasing bin size,
    uselinear=[True|False] for making the first 10 bins linear.'''
    if uselinear:
    # for degree distributions, the first 10 degrees are often
    # binned in linear bins. If so, set uselinear=True
        bins=[-0.5,0.5,1.5,2.5,3.5,4.5,5.5,6.5,7.5,8.5,9.5,10.5]
        i=12
    else:
        # set the first bin lower limit s.t. first data point
        # falls in the bin center
        bins=[]
        bins.append(minvalue*2.0/(1+factor))
        i=1
    while bins[i-1]<maxvalue:
        # generate the rest of (log) bin limits. The next bin limit
        # is always the previous limit times the factor
        bins.append(bins[i-1]*factor)
        i+=1

    return bins

bins_dict = {}

for scoring in scorings:
    bins_dict[scoring] = generateLogbins(minvalue=1, maxvalue=max(df_filtered[scoring]),
                                         factor=2.5, uselinear=False)

for scoring in scorings:
    print("******* {} bins ******\n{}\n".format(scoring, bins_dict[scoring], '\n'))

******* user_median_score bins ******
[0.5714285714285714, 1.4285714285714284, 3.571428571428571, 8.928571428571427, 22.32142857142857, 55.80357142857142, 139.50892857142856]

******* user_mean_score bins ******
[0.5714285714285714, 1.4285714285714284, 3.571428571428571, 8.928571428571427, 22.32142857142857, 55.80357142857142, 139.50892857142856, 348.7723214285714, 871.9308035714284]

******* user_sum_score bins ******
[0.5714285714285714, 1.4285714285714284, 3.571428571428571, 8.928571428571427, 22.32142857142857, 55.80357142857142, 139.50892857142856, 348.7723214285714, 871.9308035714284, 2179.827008928571, 5449.5675223214275]

In [72]:
def findbin(bins, value):
    """ Returns LABEL for a score """
    lowerlimit=0
    upperlimit=len(bins)-1

    while (upperlimit-lowerlimit)>1:
        halfpoint=int(math.ceil(0.5*(upperlimit+lowerlimit)))
        if (value>=bins[halfpoint]):
            lowerlimit=halfpoint
        else:
            upperlimit=halfpoint

    return lowerlimit

In [73]:
labels = {}

for scoring,labeling in zip(scorings,labelings):
    labels[scoring] = []
    for score in df_filtered[scoring]:
        labels[scoring].append(findbin(bins_dict[scoring], score))

    df_filtered[labeling] = labels[scoring]
    unique, counts = np.unique(labels[scoring], return_counts=True)
    d = dict(zip(unique, counts))
    print("\n{}: {}".format(scoring, d))

user_median_score: {0: 12692, 1: 8965, 2: 1159, 3: 73, 5: 5}

user_mean_score: {0: 6255, 1: 9502, 2: 5102, 3: 1638, 4: 292, 5: 94, 6: 6, 7: 5}

user_sum_score: {0: 163, 1: 476, 2: 2257, 3: 5452, 4: 5432, 5: 4137, 6: 2882, 7: 1697, 8: 195, 9: 203}

## MERGE SMALL CLASSES

In [74]:
# always recall the previous cell to avoid re-merging!

if use_dp:
    df_filtered.loc[(df_filtered.median_class > 2), 'median_class'] = 2
    df_filtered.loc[(df_filtered.mean_class > 3), 'mean_class'] = 3
    df_filtered.loc[(df_filtered.sum_class > 7), 'sum_class'] = 7
    df_filtered.loc[(df_filtered.sum_class < 2), 'sum_class'] = 1
    df_filtered['sum_class'] = df_filtered['sum_class']-1
else:
    df_filtered.loc[(df_filtered.median_class > 3), 'median_class'] = 3
    df_filtered.loc[(df_filtered.mean_class > 4), 'mean_class'] = 4
    df_filtered.loc[(df_filtered.sum_class > 10), 'sum_class'] = 10
    df_filtered.loc[(df_filtered.sum_class < 2), 'sum_class'] = 2
    df_filtered['sum_class'] = df_filtered['sum_class']-2

# append eliminated answers with -1 label
for labeling in labelings:
    df_eliminated[labeling] = -1
df_merged = pd.concat([df_filtered, df_eliminated])
    
for labeling in labelings:
    print("\n********** BY {} **********".format(labeling))
    x = df_merged.groupby(labeling)['answer_id'].count().reset_index(name ='answers')
    y = df_merged.groupby(labeling)['user_id'].nunique().reset_index(name ='users')
    x['users'] = y['users']
    print(x.head(15))

********** BY median_class **********
   median_class  answers  users
0            -1    36246  27239
1             0    12692   1093
2             1     8965    726
3             2     1237    123

********** BY mean_class **********
   mean_class  answers  users
0          -1    36246  27239
1           0     6255    612
2           1     9502    804
3           2     5102    359
4           3     2035    167

********** BY sum_class **********
   sum_class  answers  users
0         -1    36246  27239
1          0      639    108
2          1     2257    349
3          2     5452    672
4          3     5432    457
5          4     4137    226
6          5     2882     92
7          6     2095     38

In [75]:
if use_dp:
    df_merged.to_csv('./data/dp_raw_new.csv', sep=',', index=False)
else:
    df_merged.to_csv('./data/se_raw_new.csv', sep=',', index=False)